<div class="container-fluid">
<h2>
<i class="fas fa-book-reader green float">&nbsp Welcome</i></h2>
<div>
	<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aliquam, facere veniam, inventore ipsa atque qui doloremque in molestias numquam, deserunt ab repellendus aperiam reiciendis ex incidunt deleniti. Possimus qui sint accusamus. Dicta, eaque quisquam illo veniam iste veritatis praesentium odio adipisci tempora iusto sunt?</p>
	<h4 class="text-muted"> Login to Contribute.</h4>
	</div>
<hr class="col-sm-3">

	<a href="/auth/google" class="btn  btn btn-white btn-outline-white">
	<i class="fa fa-google text-danger"></i>
&nbsp LOGIN Here

	</a>


</div>